@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap");

body {
  background-color: #101820ff !important;
  --yellow: #ffe500;
  --black: #101820ff;
  --fs-40: clamp(1.5rem, 5vw, 40px);
  --fs-30: clamp(1.5rem, 5vw, 30px);
  --fs-20: clamp(1.5rem, 5vw, 20px);
  font-family: "Signika", sans-serif !important;
}

.font__yellow {
  color: var(--yellow) !important;
}

.font__white {
  color: #fff !important;
}

.font__black {
  color: var(--black) !important;
}

.font__40 {
  font-size: var(--fs-40) !important;
}

.font__30 {
  font-size: var(--fs-30) !important;
}

.font__20 {
  font-size: var(--fs-20) !important;
}

.container {
  min-height: 100vh;
}

.container > div {
  width: 100px;
  height: 100px;
  background-color: #fee600;
  margin-top: 200px;
  margin-bottom: 200px;
  margin-left: 30px;
}

h1 {
  color: #fee600;
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.logodiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.second {
  margin-top: -700px !important;
  max-width: 1150px !important;
    display: flex;
    justify-content: center;
}

.bask_desc {
  width: 100%;
  text-align: left;

}

.bask_desc p {
  max-width: 1000px;
  min-width: 800px;
  line-height: 1.5;
}

header {
  background-color: var(--black) !important;
  min-height: 13vh;
  position: fixed !important;
  width: 100%;
  display: flex !important;
  justify-content: center !important;
  z-index: 1;
  overflow-y: hidden !important;
}


.headerdiv {
  max-width: 1150px !important;
  width: 100% !important;
  display: flex;
  justify-content: space-between;
}

header img {
  width: 150px;
  height: 150px;
}

.max__width {
  max-width: 1150px !important;
}
