@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap");

body {
  background-color: #111111 !important;
  --yellow: #ffe500;
  --black: #111111;
  --fs-40: clamp(1.5rem, 5vw, 40px);
  --fs-30: clamp(1.4rem, 5vw, 30px);
  --fs-20: clamp(1.3rem, 5vw, 20px);
  --fs-15: clamp(1.2rem, 5vw, 15px);

  font-family: "Signika", sans-serif !important;
}

.bg__yellow {
  background-color: var(--yellow);
}

.font__yellow {
  color: var(--yellow) !important;
}

.font__white {
  color: #fff !important;
}

.font__black {
  color: var(--black) !important;
}

.font__40 {
  font-size: var(--fs-40) !important;
}

.font__30 {
  font-size: var(--fs-30) !important;
}

.font__20 {
  font-size: var(--fs-20) !important;
}

.font__15 {
  font-size: var(--fs-15) !important;
}

.swirlbg{
  background: 
  /* url("") right 100px no-repeat,    */
  url(Swirl-02.svg) left 10px no-repeat,  
       /* url("") right 400px no-repeat,    */
       /* url(Swirl-02.svg) left bottom no-repeat,      */
       url("") right bottom no-repeat; 
}

.box {
  width: 100px;
  height: 100px;
  background-color: #fee600;
  margin-top: 200px;
  margin-bottom: 200px;
  margin-left: 30px;
  border-radius: 20% 20% 20% 20%;
}

h1 {
  color: #fee600;
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.logodiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second {
  /* margin-top: -600px !important; */
  /* max-width: 1150px !important; */
  display: flex !important;
  justify-content: start !important;
  height: fit-content !important;
  text-align: left !important;
}

.second2 {
  margin-top: -600px !important;
  /* max-width: 1150px !important; */
  display: flex !important;
  justify-content: start !important;
  height: fit-content !important;
  margin-bottom: 100px;
  text-align: left !important;
}

.bask_desc {
  width: 100%;
  text-align: left !important;
}

.bask_desc p {
  text-align: start !important;
  max-width: 800px;
  /* min-width: 800px; */
  line-height: 1.5;
}

.bgy{
  background-color: #fee600 !important;
} 

header {
  background-color: var(--black) !important;
  min-height: 13vh;
  position: fixed !important;
  margin: 0 !important;
  padding: 0 !important;
  top: 0 !important;
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
  z-index: 1;
  overflow-y: hidden !important;
}

.headerdiv {
  width: 100% !important;
  display: flex;
  justify-content: center;
}

.hdiv2 {
  max-width: 1150px !important;
  width: 100% !important;
  display: flex;
  justify-content: space-between;
}

header img {
  width: 100px;
  /* height: 150px; */
}

.max__width {
  max-width: 1150px !important;
}

.logo {
  padding-top: 350px;
  padding-bottom: 200px;
}

.logo2 {
  padding-top: 350px;
  padding-bottom: 200px;
}

.fit__content {
  height: fit-content !important;
}

.invisible {
  display: none !important;
}

.hr {
  border-top: 2px solid var(--black) !important;
  width: 70px !important;
}

.hr2 {
  border-top: 2px solid var(--white) !important;
  width: 70px !important;
  opacity: 0.5 !important;
}

.move {
  cursor: pointer !important;
  transition: 0.9s !important;
}

.move:hover > h3 {
  font-weight: 575 !important;
}

.footer{
  opacity: 0.6;
}

.move > .right__arrow {
  transition: 0.9s !important;
}

.move:hover > .right__arrow {
  transform: translateX(50px) !important;
  transition: 0.9s !important;
}

a {
  text-decoration: none !important;
}

.are {
  width: 40% !important;
  padding-left: 15px !important;
}

ion-icon {
  padding-left: 20px !important;
}

.arrows > p {
  font-size: 15px !important;
  line-height: 1.5;
  color: var(--black) !important;
  opacity: 0.8 !important;
}

.arrows2 > p {
  font-size: 15px !important;
  line-height: 1.5;
  color: var(--white) !important;
  opacity: 0.7 !important;
}

.justimg {
  height: 300px !important;
  object-fit: cover !important;
  object-position: center !important;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 0.9s !important;
}


.grey{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.justimg:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transition: 0.9s !important;
  /* transform: scale(1.1) !important; */
}

.workline {
  width: 100% !important;
  border-top: 1px solid var(--white) !important;
  opacity: 0.5 !important;
}

.hamburger {
  color: #fff !important;
  cursor: pointer !important;
}

.navs {
  transition: 0.9s !important;
}

.bgg {
  background-color: rgb(0, 0, 0) !important;
}

.hamburger:hover {
  color: var(--yellow) !important;
}

@media (max-width: 768px) {
  .icon1 {
    display: block !important;
  }
  .icon2 {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .icon1 {
    display: none !important;
  }
  .icon2 {
    display: block !important;
  }
}

.cp {
  cursor: pointer !important;
}

.sundiv {
  right: 30px !important;
  top: 100px !important;
}

@media (prefers-reduced-motion: no-preference) {
  .sun {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.propic{
  width: 160px;
  height: 200px;
  /* border-radius: 50%; */
  object-fit: cover;
  object-position: center;
  margin-right: 20px;
}

.probg{

  min-height: fit-content !important;
  max-width: 800px !important;
  background-size: cover;
}

.about{
  max-width: 800px !important;
}

.about p {
  line-height: 1.7 !important;
  opacity: 0.8 !important;
}

.about h2{
  font-weight: 700 !important;
}